/*footer*/
.ffinal {
    padding-top: 1em;
  }
  .footer {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  .promos {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  