<div *ngIf="!ocultarComponente">
    <div id="carouselExampleCaptions" class="carousel slide caruselCaja">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active centrar">
          <img
            src="../../../assets/Recursos/fondos/escuelaparra.jpg "
            class="rounded mx-auto d-block w-100"
            max-width="95"
            alt="IPET 379 img1"
          />
          <div class="carousel-caption posicion">
            <h3>Nuestra Escuela</h3>
            <h4 id="escuela">INSTITUTO PROVINCIAL de EDUCACIÓN TÉCNICA Nº 379</h4>
          </div>
        </div>
        <div class="carousel-item centrar">
          <img
            src="../../../assets/Recursos/fondos/electricidad.jpg"
            class="rounded mx-auto d-block w-100"
            max-width="95"
            alt="IPET 379 img1"
          />
          <div class="carousel-caption posicion">
            <h4>TÉCNICO ELECTRICISTA</h4>
          </div>
        </div>
        <div class="carousel-item centrar">
          <img
            src="../../../assets/Recursos/fondos/programacion.jpg"
            class="rounded mx-auto d-block w-100"
            max-width="95"
            alt="IPET 379 img1"
          />
          <div class="carousel-caption posicion">
            <h4 class="h4Prog">TÉCNICO en PROGRAMACIÓN</h4>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  
